* {
    /* border:1px solid red; */
}

/* Reset html margin/padding */
html, body {
    margin: auto;
    padding: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

main {
    margin: 50px;
}

footer {
    margin: 50px;
}

h1 {
    text-align: center;
}

nav {
    border-bottom: 2px solid black;
    background-color: grey;
    overflow: hidden;
    margin: auto;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 10px 0 10px;
}

nav > ul > li {
    display: inline;
    line-height: 50px;
    height: 50px;
    margin: 0;
}

li > a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}

/* Style hamburger links */

#ham-menu {
    display: none;
}

#ham-menu > ul {
    list-style: none;
    line-height: 50px;
    border: 2px solid black;
    margin: auto;
    padding-left: 0;
}

#ham-menu > ul > li {
    background-color: aliceblue;
    text-align: center;
    border: 1px solid black;
    margin: auto;
}

/* Footer styling */

#footer {
    position: absolute;
}

@media screen and (min-width: 800px) {


#ham-button {
    display: none;
}

#ham-menu {
    display: block;
}

#ham-menu > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aliceblue;
    margin: 0;
}

#ham-menu > ul > li {
    margin: auto;
    border: none;
}


}