* {
    border:1px solid red;
}

/* Reset html margin/padding */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

nav {
    border-bottom: 2px solid black;
    background-color: grey;
    overflow: hidden;
    margin: auto;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav > ul > li {
    display: inline;
    line-height: 50px;
    height: 50px;
    margin: auto;
}

li > a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}

@media screen and (min-width: 800px) {

}