#request-section {
    display: flex;
    flex-direction: column;
}

#order {
    flex-grow: 2;
}

#deletehistory-button {
    margin: 25px;
    background-color: rgb(228, 0, 0);
    border: 2px solid red;
}